#footer1 {

    padding: 8px;
    background-color: #345A61;
    position: static;
    bottom: 0;
    left: 0px;
    right: 0px;


}


.bg{
    background-image: url('../img/stadium.jpeg');
    min-height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.bg-match_of_the_day{
    background-image: url('../img/stadium.jpeg');
    min-height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-ranking{
    background-image: url('../img/stadium02.jpeg');
    min-height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-match_to_bet{
    background-image: url('../img/pari.jpg');
    min-height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-team {
    background-image: url('../img/team1.jpeg');
    min-height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


#error {

    padding: 3%;
}

#ad {
    padding-bottom: 10%;

}

footer a {

    color: white;
}