{% extends 'base.html' %} {% load static %}


{% block header %}
  <div class="bg" >
    <div class="mx-auto col-lg-4">


      <form class="jumbotron" id="form" method="post" action="{% url 'connection' %}">
       {% if user.is_authenticated %}
          bonjour, {{ user.username }}
          <a href="{% url 'disconnect' %}">Deconnexion</a>
       {% else %}
        <p class="text-center font-weight-bold">CONNEXION</p>
        {% if error == True %}
          <p>Utilisateur ou mot de passe incorrect</p>
        {% endif %}
        <div class="form-group">
          {{ form }}
          {% csrf_token %}
          <small id="mail" class="form-text text-muted">

          </small>
        </div>

        <div style="display: flex; justify-content: center;">
          <button type="submit" id="login" class="btn btn-success"> Login </button>
        </div>


        <p class="d-flex justify-content-center" style="margin-top : 30px" ><a href={% url 'register' %} >Pas encore inscrit ? Créer un compte </a> </p>
      {% endif %}
      </form>

    </div>


  <div id="ad" class="offset-md-4 col-md-4 pb-5">
    <p class="text-center" style="font-weight: bold; font-size: 30px">BET 4 WIN</p>
    <hr class="light my-4 bg-dark col-md-2">
    <p class="text-center" style="font-weight: bold"> Devenez le meilleur parieur</p>
  </div>

</div>
{% endblock %}


