{% if not team_list %}

<p>Vous ne faites parti de aucun groupe</p>

{% else %}
<h2>Mes groupes :</h2>
<li>
{% for n in team_list %}
    {{n.name }}
    code : {{n.code }}
    <a href=" {% url 'ranking' team_name=n.name %}"> Voir classement</a>
    <form class="form-inline my-2 my-lg-0" role="form" method="post" action="{% url 'leave_team' %}">
        {% csrf_token %}
        <input type="hidden" name="delete_team" value="{{ n }}" >
        <button type=”submit” class="btn btn-sm btn-submit button-form">Supprimer</button>
    </form>


    {% endfor %}

{% endif %}

</li>