{% extends 'base.html' %} {% load static %}

{% block body %}
<div class="bg-team" >
<div class=" offset-md-2 col-md-8 border border bg-light align-items-center" style="height : 100%">

        <h1 class="d-flex justify-content-center m-4">Mes groupes</h1>

        <div class="d-flex border-top  border-dark justify-content-around bg-light">
                {% if not team_list %}
                    <p>Vous ne faites partie d'aucun groupe</p>
                {% else %}
                <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                                <th scope="col">Groupe</th>
                                <th scope="col">Championnat</th>
                                <th scope="col">Clé du groupe</th>
                                <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody  class="">
                        {% for n in team_list %}
                          <tr>
                              <th scope="col"><a href=" {% url 'ranking' team_name=n.name %}">{{n.name}}</a></th>
                              <th scope="col">Ligue 2</th>
                              <th scope="col">{{ n.code}}</th>
                              <th scope="col">
                                  <form class="form-inline my-2 my-lg-0" role="form" method="post" action="{% url 'leave_team' %}">
                                      {% csrf_token %}
                                      <input type="hidden" name="delete_team" value="{{ n }}" >
                                      <button type=”submit” class="btn btn-sm btn-submit button-form">Quitter le groupe</button>
                                  </form>
                              </th>
                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>

            {% endif %}

        </div>
        <a href="{% url 'new_team' %}"> Créer </a> ou
        <a href="{% url 'join_group' %}"> Rejoindre  </a> un groupe
    </div>
</div>
{% endblock %}