{% extends 'base.html' %} {% load static %}

{% block body %}
    <div class="bg">
        <div class="mx-auto col-lg-4">
            {% if error != 0 %}
                {% if error == 2 %}
                    <p>VOus faites déja partie de ce groupe</p>

                {% else %}
                <p>Ce code ne correspond à aucune team</p>
                {% endif %}
            {% endif %}
            <form class="jumbotron" id="form" method="post" action="{% url 'join_group' %}">
                <p class="text-center font-weight-bold">REJOIGNEZ-NOUS SANS PLUS ATTENDRE</p>
                <div class="form-group">
                    {{ form }}
                    {% csrf_token %}
                </div>

                <div style="display: flex; justify-content: center;">
                    <button id="login" class="btn btn-success"> Rejoindre ce groupe </button>
                </div>



            </form>

        </div>
</div>
</div>

{% endblock %}