

{% extends 'base.html' %} {% load static %}

{% block body %}
    <div class="bg">
        <div class="mx-auto col-lg-4">
            <form class="jumbotron" id="form" method="post" action="{% url 'new_team' %}">
                <p class="text-center font-weight-bold">REJOIGNEZ-NOUS SANS PLUS ATTENDRE</p>
                <div class="form-group">
                    {{ form }}
                    {% csrf_token %}
                </div>

                <div style="display: flex; justify-content: center;">
                    <button id="login" class="btn btn-success"> Rejoindre ce groupe </button>
                </div>



            </form>

        </div>
</div>
</div>

{% endblock %}