{% extends 'base.html' %} {% load static %}

{% block body %}
<div class="bg-ranking">
<div class="offset-md-2 col-md-8 border border bg-light align-items-center" style="height : 100%">

       <h1 class="d-flex justify-content-center m-4">Classement du groupe</h1>
        <div class="d-flex border-top  border-dark justify-content-around bg-light">
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Classement</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Point</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for n in team_member %}
                          <tr>
                            <th scope="row">1 </th>
                            <td>{{ n.id_user }}</td>
                            <td>{{ n.points }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
        </div>

    </div>
</div>
{% endblock %}